@use 'variables';

.about {
    height: 45vh;
    color: variables.$color_white;
    background-image: url(../images/bacground_about.png);
    position: relative;
    user-select: none;

    .button {
        transform: scale(.9);
        padding: 0 10px;
        border: 2px solid variables.$color_blackgreen;
        color: variables.$color_blackgreen;
        border-radius: 100%;
        text-decoration: none;
        cursor: pointer;
        font-size: 35px;
        position: absolute;
        right: 0;
        top: 0;
        margin: 15px 15px 0 0;
    }
    .button:hover {
        transform: scale(1);
    }
    &_title {
        color: variables.$background_perfil;
        display: grid;
        place-items: center;
        padding-top: 20px;
        margin-bottom: 0;
    }
    &_paragraph {
        font-weight: 600;
        text-align: justify;
        background-color: #adadad77;
        box-shadow: 4px 4px 0 2px #8b8b8b77 ;
        color: variables.$color_navbar;
        border-radius: 10px;
        padding: 15px;
        column-count: 2;
        column-gap: 50px;
        line-height: 2;
        margin: 20px 100px 0px 100px;
    }
}