@use 'variables';

#header {
    height: 100vh;
}

nav {
    background-color: variables.$bg_page;
    border-bottom: 3px solid variables.$bg2_page;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
    width: 100%;
    position: fixed;
    z-index: 10;
    top: 0;
}

//NAVBAR
.nav_bar {
    list-style: none;
    display: flex;

    a {
        font-size: 18px;
        text-decoration: none;
        color: variables.$color_white;
        font-family: roboto;
        padding: 22px 24px; 
    }
    a:hover {
        font-size: 19px;
        background-color: variables.$color_check;
    }
}


//PERFIL
.nav_about {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: variables.$bg_page;
    color: variables.$color_white2;
    height: 100%;
    padding-top: 5%;
    
    &_img {
        width: 200px;
        height: 200px;
        border-radius: 100%;
        margin-top: 49px;
        cursor: pointer;
        box-shadow: 0 35px 18px -27px variables.$bg2_page;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: grayscale(.9);
            border-radius: 100%;
        }
    }

    h1 {
        font-size: 62px;
        font-family: sans-serif;
        margin-top: 54px;
    }

    h5 {
        font-size: 21px;
        font-family: sans-serif;
    }

    p {
        text-align: center;
        font-size: 17px;
        margin-top: 44px;
        width: 71%;
        font-family: "Roboto";
    }
}