@use 'variables';

header {
    outline: 1px solid variables.$color_black;
    background-color: variables.$background_perfil;
}
.perfil {
    height: 300px;

    &_title{
        width: 500px;
        height: 150px;

        h1 {
            text-align: center;
            font-size: 50px;
            margin: auto;
            height: 50px;
        }
        &_animation {
            color: variables.$color_white;
        }
    }
    &_image {
        width: 200px;
        height: 200px;
        object-fit: cover;
        border-radius: 100%;
        transform: scale(1.3);
    }

}
.nav {

    &-link {
        color: variables.$color_white;
        font-weight: 700px;
    }
}