@use 'variables';

.projects {
    height: 100vh;
    width: 100%;
    position: relative;
    background-color: variables.$background_projects;

    &_title {
        color: #fff;
        height: 14%;
        text-align: center;
        margin-left: 140px;
        padding: 3% 0px 0px 0px;
    }
    &_container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        position: relative;
        height: 84%;
        margin-left: 140px
    }
}

.box_project {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 190px;
    cursor: pointer;
    position: relative;

    &_logo {
        font-size: 80px;
        padding: 20px;
        border-radius: 50%;
        background-color: variables.$color_white;
        display: grid;
        place-items: center;
    }
     &_text {
        color: variables.$color_white;
        margin-bottom: 0px;
        margin-top: 8px;
    }
}
.md {
    color: #fff;
    position: absolute;
    font-size: 15px;
    display: grid;
    place-items: center;
    background-color: #0d141869;
    height: 130px;
    width: 145px;
    opacity: 0;
    font-weight: bolder;

    p {
        margin-bottom: 0px;
        cursor: pointer;
    }
    p:hover {
        text-shadow: 0 0 4px #fff;
    }
}
.box_project_logo:hover .md {
    opacity: 1;
}

.project_modal {
    background-color: rgb(7 15 18 / 80%);
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 200;

    &_content {
        background-color: #2a383f;
        height: 400px;
        width: 750px;
        display: flex;
        align-items: center;
        position: relative;

        &_info {
            color: white;
            font-family: "Roboto";
            width: 54%;
            height: 90%;
            margin-right: 10px;

            &>h1 {
                color: #e4eaed;
                text-align: center;
                margin: 20px 0;
            }

            &>p {
                color: #f1eeee;
                text-align: justify;
                padding: 0 20px;
            }
        }

        &_img {
            background-color: #34454d;
            height: 90%;
            width: 46%;
            margin-left: 20px;
        }

        &_exit {
            position: absolute;
            font-size: 40px;
            color: #aaa;
            background-color: transparent;
            top: -5px;
            right: 10px;
            border: none;
        }
        &_exit:hover {
            transform: scale(.9);
        }
    }
}

.modal_enlaces {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 40px;

    &_box>a>i {
        cursor: pointer;
        color: #efebeb;
        font-size: 37px;
    }
    &_box>a>i:hover {
        transform: scale(1.1);
        color: #a9a9a9;
    }
}