@use 'variables';

.projects_container {
    height: 85%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 13px;

    .contenedor {
        width: 230px;
        height: 220px;
        margin: 12px 22px;
        perspective: 1000px; /* Ajusta la perspectiva para el efecto 3D */
        position: relative;
    }


}

//efecto 3D:
.caja {
    transform-style: preserve-3d;
    transition: transform 0.5s;

    .frontal, .trasera {
        position: absolute;
        width: 230px;
        height: 220px;
        border-radius: 12px;
        backface-visibility: hidden;
        cursor: pointer;
    }

    .frontal {
        background-color: variables.$bg3_page;
    }
    .frontal:hover {
        background-color: variables.$color_white2;
    }



    .trasera {
        background-color: variables.$color_white2;
        transform: rotateY(180deg);
    }
}
.girada {
    transform: rotateY(180deg);
}



//Div Frontal:
.frontal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
        width: 50%;
        height: 50%;
        filter: hue-rotate(90deg);
    }
    p {
        font-size: 20px;
        padding-top: 13px;
        font-family: 'Roboto';
        font-weight: bolder;
    }
}

//Div Trasera:
.trasera {
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
        color: #161616;
        font-family: "Roboto";
        font-size: 18px;
        padding: 19px 0px 6px 0px;
    }
    p {
        color: #161616;
        text-align: justify;
        padding: 0px 20px;
        font-family: "Roboto";
        font-size: 15px;
    }

    &_icons {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        padding-top: 14px;

        div {
            color: #161616;
            display: flex;
            flex-direction: column;
            text-align: center;

            .github, .red {
                font-size: 28px;
            }
            
            p {
                font-size: 12px;
                padding-top: 3px;
            }
        }
    }
}