@use 'variables';

.projects {
    height: 100vh;
    width: 100%;
    position: relative;
    background-color: variables.$background_projects;

    &_title {
        color: #fff;
        height: 14%;
        text-align: center;
        padding: 3% 0px 0px 0px;
    }
    &_container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        position: relative;
        height: 84%;
    }
}

.box_project {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 190px;
    cursor: pointer;
    position: relative;

    &_logo {
        font-size: 80px;
        padding: 20px;
        border-radius: 50%;
        background-color: variables.$color_white;
        display: grid;
        place-items: center;
    }
     &_text {
        color: variables.$color_white;
        margin-bottom: 0px;
        margin-top: 8px;
    }
}
.md {
    color: #fff;
    position: absolute;
    font-size: 15px;
    display: grid;
    place-items: center;
    background-color: #0d141869;
    height: 130px;
    width: 145px;
    opacity: 0;
    font-weight: bolder;

    p {
        margin-bottom: 0px;
        cursor: pointer;
    }
    p:hover {
        text-shadow: 0 0 4px #fff;
    }
}
.box_project_logo:hover .md {
    opacity: 1;
}

.project_modal {
    background-color: rgb(7 15 18 / 80%);
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 200;

    &_content {
        background-color: #2a383f;
        height: 400px;
        width: 750px;
        display: flex;
        align-items: center;
        position: relative;

        &_info {
            color: white;
            font-family: "Roboto";
            width: 54%;
            height: 90%;
            background-color: darkcyan;
            margin-right: 10px;
        }

        &_img {
            background-color: aquamarine;
            height: 90%;
            width: 46%;
            margin-left: 10px;
        }

        &_exit {
            position: absolute;
            top: 3px;
            right: 3px;
        }
    }
}

.modal_enlaces {
    color: red;

    &>i {
        color: red;  
    }
    
    &>p {
      color: red;  
    }

    &_box {
        color: red;
    }
}