@use 'variables';

.skills {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: variables.$background_aboutSkills;

    &_about{
        color: variables.$color_white;
        height: 90%;
        width: 50%;
        position: relative;
        padding: 0 70px;

        //container ACERCA DE MI
        &_container {
            position: relative;
            height: 100%;
            right: -123px;
        }

        //container SKILLS
        &_contenedor {
            height: 100%;
            width: 80%;
            display: grid;
            place-items: center;
            position: absolute;
            right: 50px;
            opacity: 1;
            transition-property: top, opacity;
            transition-duration: 0.5s;
        }
    }
    //SECTION ACERCA DE MI
    &_about_box {
        position: absolute;
        top: 18%;
        opacity: 1;
        transition-property: top opacity;
        transition-duration: .5s;

        &_title {
            font-family: 'Oswald', sans-serif;
            text-align: center;
            margin-bottom: 20px;
        }
        &_paragraph {
            text-align: justify;
            padding: 0px 71px;
            line-height: 2;
            font-family: 'Roboto', sans-serif;
        }                
    }

    //SECTION SKILLS
    &_skills_title {
        font-family: "Oswald", sans-serif;
        width: 100%;
        height: 94%;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }
    &_skills_box {
        height: 110px;
        width: 90%;

        &_title {
            font-family: "Oswald", sans-serif;
            border-bottom: 1px solid #fff;
            width: 100%;
            height: 35%;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
        }
        &_items {
            height: 65%;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;

            &_list {
                display: grid;
                height: 100%;
                grid-template-columns: repeat(3, 33.3%);
                grid-template-rows: repeat(4, 39%);
                font-size: 15px;
                list-style-position: inside;
                padding-left: 0px;

                li {
                    font-family: 'Roboto', sans-serif;
                    padding-left: 20px;
                    padding-top: 10%;
                }
            }
        }
    }
    &_skills_box1, &_skills_box2 {
        position: relative;
        bottom: 75px;
    }
    &_skills_box2 {
        bottom: 77px;
    }
}
.title_herramientas {
    font-size: 2rem;
    padding-bottom: 17px;
}