@use 'variables';


.skills {
    height: 100vh;
    background-color: variables.$bg_page;
    padding-top: 4%;

    h2 {
        color: variables.$color_white;
        margin: 43px 0px 0px 30px;
        font-size: 36px;
        font-family: 'Roboto';
    }
}


.skills_container {
    color: variables.$color_white;
    height: 85%;
    padding: 10px 0px 0px 11%;

    h3 {
        color: variables.$color_white;
        font-size: 26px;
        width: 600px;
        padding: 0px 0px 3px 17px;
        border-bottom: 3px solid variables.$bg2_page;
        margin-top: 49px;
        border-radius: 3%;
        font-family: 'Roboto';
    }
    h3:first-child {
        margin-top: 23px;
        width: 389px;
    } 

    &_tag {
        color: variables.$color_black;
        height: 14%;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        padding: 6px 0 0 30px;
            border-radius: 3%;

        span {
            background-color: variables.$bg3_page;
            margin: 10px 21px 0px 0px;
            padding: 8px 32px;
            border-radius: 4px;
            font-size: 16px;
            font-family: "Roboto";
            font-weight: bold;
            cursor: pointer;
            border-radius: 5%;
        }
        span:hover {
            background-color: #ddddddd1;

        }
    }
}