@use 'variables';

.skills {
    height: 55vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: relative;
    background: #ADA996;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    
    .button {
        transform: scale(.9);
        padding: 0 10px;
        border: 2px solid variables.$color_blackgreen;
        color: variables.$color_blackgreen;
        border-radius: 100%;
        text-decoration: none;
        cursor: pointer;
        font-size: 35px;
        position: absolute;
        right: 0;
        bottom: 0;
        margin: 0 15px 15px 0;
    }
    .button:hover {
        transform: scale(.99);
    }

    &_lenguajes, &_tools, &_framework {
        width: 30%;
        height: 90%;

        outline: 2px solid variables.$color_black;
        border-radius: 10px;


        &_title {
            font-size: 25px;
            padding: 10px 0;
            text-align: center;
            color: variables.$color_white;
            background-color: variables.$color_black;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
            border-bottom: 2px solid variables.$color_black;
        }
        &_boxlen, &_boxtool{
            display: grid;
            place-items: center;
            grid-template-columns: repeat(5, 65px);
            gap: 10px;
            padding: 20px;
            user-select: none;
            
            &_len, &_tool {
                width: 55px;
                height: 55px;
                cursor: pointer;
            }
        }
    }
}