$color_gray : #777;
$color_black: #000;
$color_white: #fff;
$color_red: #d10000;
$color_orange: #f26e16;
$color_green: #0acb24;
$color_blue: #070fa0;
$color_yellow: #fcfc03;
$color_navbar: #0f2630; 
$background_perfil : #4d4a4f;
$font_family1: 'Oswald', sans-serif;