$color_white: hsl(0, 0%, 100%);
$color_white2: #ddd;
$color_gray : #777;
$color_black: #000;
$bg_page: #161616;
$bg2_page: #0b8116;
$bg3_page: rgba(221, 221, 221, 0.6392156863);
$color_check: #49494978;