$color_gray : #777;
$color_black: #000;
$color_white: #fff;
$color_white2: #ddd;
$color_red: #d10000;
$color_orange: #f26e16;
$color_green: #0acb24;
$color_lightgreen: #67ec9a77;
$color_blackgreen: #015736; 
$color_blue: #070fa0;
$color_yellow: #fcfc03;
$color_navbar: #0f2630;
$color_cafe: #692805; 
$color_navbar2: #e2e2e2;
$color_lightgray: #adadad;
$color_lightgray2: #8b8b8b;
$background_perfil : #4d4a4f;
$background_aboutSkills: #16222A;
$background_projects: #0d1418;